<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/output.css}">
</head>

<nav class="bg-background fixed w-full z-20 top-0 left-0 text-primary" th:fragment="navbar">
  <div class="flex flex-wrap items-center justify-between mx-auto container px-16">
    <!-- Logo -->
    <a href="#" class="flex items-center">
      <img th:src="@{/images/paw.svg}" class="h-8 mr-3" alt="Logo">
    </a>
    <!-- Login and Register (ส่วนท้ายๆของ Navbar)-->
    <div class="flex md:order-2 items-center">
      <div sec:authorize="isAnonymous()">
        <button
                class="border border-primary p-2 px-4 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold max-w-fit mx-0 bg-white">
          <a th:href="@{/login}">Log in</a>
        </button>
        <button
                class="border border-primary p-2 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold max-w-fit ml-5 bg-white">
          <a th:href="@{/register}">Register</a>
        </button>
      </div>
      <div sec:authorize="isAuthenticated()">
        <a th:href="@{/}" sec:authorize="hasAuthority('admin')"><span sec:authentication="name" id="usernameLabel"></span></a>
        <a th:href="@{/my-post}" sec:authorize="hasAuthority('user')"><span sec:authentication="name"></span></a>
        <button
                class="border border-primary p-2 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold max-w-fit ml-5 bg-white">
          <a th:href="@{/logout}">Logout</a>
        </button>
      </div>
      <!-- Hamburger Menu (Responsive) -->
      <button data-collapse-toggle="navbar-sticky" type="button"
              class="inline-flex items-center p-2 ml-5 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <!-- Menu -->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <!-- Menu List-->
      <ul class="flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 text-primary">
        <!-- List -->
        <li>
          <!-- all -->
          <a th:href="@{/}"
             class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">หน้าหลัก</a>
        </li>
        <li sec:authorize="isAnonymous() or hasAuthority('user')">
          <a th:href="@{/post-all}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">หาน้อง</a>
        </li>
        <!-- user -->
        <li sec:authorize="isAuthenticated() and hasAuthority('user')">
          <a th:href="@{/post-new}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">โพสต์หาบ้าน</a>
        </li>
        <li sec:authorize="isAuthenticated() and hasAuthority('user')">
          <a th:href="@{/following-post}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">โพสต์ที่ติดตาม</a>
        </li>
        <li sec:authorize="isAuthenticated() and hasAuthority('user')">
          <a th:href="@{/my-pet}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">สัตว์ที่เลี้ยงอยู่</a>
        </li>
        <!-- admin -->
        <li sec:authorize="isAuthenticated() and hasAuthority('admin')">
          <a th:href="@{/admin/user-management}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">จัดการผู้ใช้</a>
        </li>
        <li sec:authorize="isAuthenticated() and hasAuthority('admin')">
          <a th:href="@{/admin/animal-type}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">จัดการประเภทสัตว์</a>
        </li>
        <li sec:authorize="isAuthenticated() and hasAuthority('admin')">
          <a th:href="@{/admin/post-management}" class="block py-2 pl-3 pr-4 text-primary rounded md:bg-transparent md:p-0"
             aria-current="page">จัดการโพสต์</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</html>