<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css}"  rel="stylesheet" />
</head>
<body class="bg-background text-primary">
<!-- Header (Navbar) -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="flex flex-col mx-auto p-16 pt-20 container">
  <!-- มาช่วยน้องๆกัน -->
  <div class="bg-white lg:pl-16 lg:py-16 p-16 border border-primary my-5 flex flex-col lg:flex-row items-center w-full">
    <div class="flex flex-col lg:w-1/2 w-full">
      <h1 class="text-4xl mb-3 font-semibold">มาช่วยน้องๆกัน 🐶🐕</h1>
      <p class="">บริการเว็บไซต์ "บ้านสำหรับสัตว์" ที่พร้อมที่จะเป็นสหายใหม่ของคุณและสัตว์เลี้ยงของคุณ! บ้านสำหรับสัตว์เป็นแหล่งข้อมูลและพื้นที่ในการค้นหาบ้านใหม่สำหรับสัตว์เลี้ยงที่ต้องการความรักและความดูแลจากคุณ
      </p>
      <button class="border border-primary p-3 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold max-w-fit bg-white">
        <img th:src="@{/images/paw-1-svgrepo-com.svg}" alt="paw" width="20" class="inline mr-1">
        หาบ้านให้น้องเลย!
      </button>
    </div>
    <!-- Image -->
    <div class="lg:w-1/2 w-full lg:my-0 my-8">
      <div class="mx-auto max-w-[300px] border border-primary h-[200px] shadow-[10px_10px_0px_0px_#004225] rounded-lg overflow-hidden">
        <img src="https://images.unsplash.com/photo-1596854407944-bf87f6fdd49e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80"
             alt="cat" class="rounded-lg relative">
      </div>
    </div>
  </div>
  <!-- น้องๆกำลังรอคุณอยู่นะ -->
  <div class="bg-white p-16 justify-between border border-primary my-5 flex flex-col items-center w-full">
    <h1 class="text-3xl font-semibold">น้องๆกำลังรอคุณอยู่นะ</h1>
    <p class="py-5">ดูน้องๆที่น่ารักพวกนี้สิ เลือกสัตว์ที่คุณอยากเลี้ยงได้เลย</p>
    <div class="flex lg:flex-row flex-col lg:justify-between lg:gap-x-10 gap-y-10">
      <div th:each="animal : ${animals}">
        <div th:insert="~{fragments/pet-card :: pet-card}"
             th:with="name=${animal.name},animal_type=${animal.animal_type},breed=${animal.breed},sex=${animal.sex}"></div>
      </div>
    </div>
  </div>
  <!-- Pet Type -->
  <div class="bg-white p-16 border border-primary my-5 flex flex-col items-center w-full">
    <h1 class="text-3xl font-semibold">เลือกประเภทสัตว์ที่คุณชื่นชอบ</h1>
    <p class="py-5">เรามีน้องๆมากมายหลายประเภทให้เลือก</p>
    <!-- Example Pet Type -->
    <div class="grid grid-cols-4 gap-5">
      <!-- Example Pet Type Button -->
      <div th:each="animalType : ${animalTypes}">
        <a th:href="@{|/post-all/${animalType.type}|}">
          <button class="border border-primary p-3 rounded-md font-semibold max-w-fit bg-white hover:bg-secondary transition-all"
                  th:fragment="pet-type-btn" th:text="${animalType.type}">
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer th:insert="~{fragments/footer :: footer}"></footer>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js}"></script>

</body>

</html>