<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>สัตว์ที่เลี้ยงอยู่</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-background text-primary">
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="flex flex-col justify-between min-h-screen mx-auto p-16 pt-20 container items-center justify-self-center">
  <h1 class="text-4xl mb-3 font-semibold p-16">สัตว์ที่เลี้ยงอยู่</h1>
  <div class="grid grid-cols-3">

    </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>