<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterInfo</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-background text-primary">
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="flex flex-col mx-auto p-16 pt-20 container items-center justify-self-center" style="padding-left: 180px; padding-right: 180px">
    <!-- register box -->
    <div class="bg-white px-20 lg:py-16 border my-5 flex flex-col border-primary justify-center lg:w-2/3">
        <h1 class="text-4xl mb-3 font-semibold lg:mx-0 justify-center flex lg:flex-row">ข้อมูลส่วนตัว</h1>
        <div class="justify-center flex">
            <img th:src="@{/images/raccoon.jpg}" alt="raccoon" width="133" height="133" style="border-radius:50%" class="border mt-6">
        </div>
        <div class="flex justify-center mt-6">
            <button type="button" class=" h-[44px] text-[16px] font-semibold rounded border shadow-[5px_5px_0px_0px_#004225]" onclick="" style="width: 184px">ใส่รูปโปรไฟล์</button>
        </div>
        <h2 class="font-semibold" style="font-size: 24px; margin-top: 40px; margin-bottom: 20px">ข้อมูลส่วนตัว</h2>
        <div class="flex flex-row justify-between mb-2">
            <div class="flex flex-col">
                <h3 class="font-semibold mb-2" style="font-size: 16px">ชื่อ *จำเป็น</h3>
                <input type="text" id="name" name="name" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
            </div>
            <div class="flex flex-col">
                <h3 class="font-semibold mb-2" style="font-size: 16px">นามสกุล</h3>
                <input type="text" id="surname" name="surname" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="font-semibold mb-2" style="font-size: 16px">ชื่อผู้ใช้</h3>
            <input type="text" id="username" name="username" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
        </div>
        <h2 class="font-semibold" style="font-size: 24px; margin-top: 40px; margin-bottom: 20px">ข้อมูลส่วนตัว</h2>
        <div class="flex flex-row justify-between mb-2">
            <div class="flex flex-col">
                <h3 class="font-semibold mb-2" style="font-size: 16px">เบอร์โทรศัพท์</h3>
                <input type="text" id="phoneNumber" name="phoneNumber" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
            </div>
            <div class="flex flex-col">
                <h3 class="font-semibold mb-2" style="font-size: 16px">Facebook link</h3>
                <input type="text" id="facebook" name="facebook" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
            </div>
        </div>
        <div class="flex flex-col">
            <h3 class="font-semibold mb-2" style="font-size: 16px">Instagram link</h3>
            <input type="text" id="instagram" name="instagram" class="border border-[#004225] h-[47px]" style="width: 289px; padding-left: 10px; padding-right: 5px">
        </div>
        <div class="flex flex-row justify-start" style="margin-top: 40px">
            <input type="checkbox" id="privacyPolicyAndTermOfService" style="width: 20px; height: 20px; margin-right: 2px">
            <span style="font-size: 12px">คุณได้ยอมรับข้อตกลงและนโยบายการใช้ข้อมูลส่วนบุคคล</span>
        </div>
        <div class="flex justify-center mt-2">
            <button type="button" class="w-[280px] h-[44px] text-[16px] font-semibold rounded border shadow-[5px_5px_0px_0px_#004225]" onclick="" style="margin-top: 60px">ยืนยัน</button>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>