<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- tailwindcss -->
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <!-- flowbite cdn -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css}"  rel="stylesheet" />
</head>

<body class="bg-background text-primary">


<div class="flex flex-col mx-auto p-16 pt-15 container justify-between min-h-screen">
    <!- header ->
    <div class="bg-white p-16 border border-primary my-5 flex flex-col w-full">
        <h1 class="text-4xl mb-3 font-semibold pt-15" th:text="${post.title}"></h1>

        <!- author ->

        <div class="flex flex-row gap-x-4">
            <div> <img class="rounded-full w-12 h-12" th:src="@{/images/undraw_contact_us_re_4qqt.svg}" alt="image author"> </div>
            <div> <p class="py-3" th:text="${post.user_username}"></p> </div>
            <div> <p class="py-3" th:text="${#strings.arraySplit(post.created_at, 'T')[0]}"></p> </div>
        </div>

        <!- grid ->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 pt-10">
            <!- picture ->
            <div class="col-span-2 items-center justify-center relative w-full">
                <div>
                </div>
            </div>
            <!- animal details ->
            <div class="col-span-2 bg-background px-16 py-8 border border-primary my-5 ">
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-16">
                    <div class="mb-2">
                        <label class="block font-semibold"> ชื่อ </label>
                        <p th:text="${animal.name}"></p>
                    </div>
                    <div class="mb-2">
                        <label class="block font-semibold"> ประเภทสัตว์ </label>
                        <p th:text="${animal.animal_type}"></p>
                    </div>
                    <div class="mb-2">
                        <label class="block font-semibold"> พิกัด </label>
                        <p th:text="${post.address}"></p>
                    </div>
                    <div class="mb-2">
                        <label class="block font-semibold"> เพศ </label>
                        <p th:text="${animal.sex}"></p>
                    </div>
                    <div class="mb-2">
                        <label class="block font-semibold"> สายพันธุ์ </label>
                        <p th:text="${animal.breed}"></p>
                    </div>
                </div>
            </div>

            <!- content ->
            <div class="col-span-3">
                <p th:text="${post.description}"></p>
            </div>

            <!- button ->
            <div th:if="${post.user_username != username}" sec:authorize="isAuthenticated()">
                    <button data-modal-target="applicantModal" data-modal-toggle="applicantModal"
                            class="border border-primary py-3 px-16 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold md:max-w-fit mx-auto lg:mx-0 bg-white w-full">
                        ขอรับเลี้ยงสัตว์
                    </button>
            </div>

        </div>
    </div>
</div>

<div id="applicantModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal body -->
            <div class="p-6 py-8 flex flex-col">
                <div>
                    <h1 class="text-lg mb-3 font-semibold"> บอกเหตุว่าทำไมถึงอยากเลี้ยงได้ไหม? </h1>
                </div>
                <form action="#" th:action="@{|/applicant/${username}/${post.id}|}" method="POST">
                    <div class="py-3 flex flex-col lg:w-1/2 w-full">
                        <label for="reason" class="block mb-2 text-sm font-medium text-gray-900"> เหตุผล </label>
                        <input type="text" id="reason" name="reason"
                               class="bg-white border border-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                               placeholder="อยากเลี้ยงเพราะน่ารักมากๆ" required>
                    </div>
                    <button id="submit-button" type="submit"
                            class="border border-primary py-3 px-8 mt-4 rounded-md shadow-[5px_5px_0px_0px_#004225] my-5 font-semibold">
                        ขอรับเลี้ยง
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>
</div>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="flex flex-col mx-auto p-16 pt-20 container">
    <!-- Content -->
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>
<!-- flowbite cdn -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js}"></script>

</body>